@charset "UTF-8";

/* =Reset default browser CSS.
Based on work by Eric Meyer:http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
:focus{outline:0;}

ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{font-weight:normal;text-align:left;}
blockquote:before, blockquote:after,q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
a img{border:0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
/* -------------------------------------------------------------- */


/* リンク設定
------------------------------------------------------------*/
a{color:#fff;text-decoration:none;}
a:hover{color:#488fdd;}
a:active, a:focus {outline:0;}


/* 全体
------------------------------------------------------------*/
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

h2, h3 {
  color: #745A4C;
  font-weight: bold;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

/**************************
/* メニュー
**************************/

.sp-menu #open {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 13px;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 2;
}

.overlay {
  background-color: #1111118a;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay nav {
  background: #DEDCD4;
  min-width: 190px;
  padding: 70px 0 20px 40px;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
}

.overlay li {
  margin: 15px 0;
}

.overlay a {
  color: #745A4C;
  font-weight: bold;
}

.overlay #close {
  color: #745A4C;
  font-size: 20px;
  padding: 13px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

/**************************
/* ファーストビュー
**************************/
#mainBanner {
  background-image: url(images/pic/COFFEE0I9A8917_TP_V.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
}

#mainBanner .shopName {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}

.shopName p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 0;
}

#mainBanner .shopName img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

/*************
インフォメーション
*************/
#info {
  background-color: #DEDCD4;
  padding: 50px 20px;
}

.infoInner {
  background-color: #f4f4f4;
  padding: 30px 20px 50px;
}

.infoInner .infoLink {
  margin: 20px 0;
}

.infoInner a {
  color: #745A4C;
}

.infoInner .infoDate {
  font-size: 14px;
  margin-bottom: 5px;
}


/*************
商品ギャラリー
*************/
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photos li {
  padding: 0 10px;
  margin-bottom: 20px;
}

.photos img {
  max-width: 158px;
  max-height: 158px;
}

/*************
お店のこだわり
*************/
.shop-feature {
  background-color: rgba(222, 220, 212, 0.6);
  padding: 50px 20px;
}

.shop-feature h2,
.shop-feature h3 {
  text-align: center;
}

.shop-feature h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.shop-feature h3 {
  padding-bottom: 20px;
}

.productSection {
  width: 100%;
}

.shop-feature .container .productImg {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 285px;
  height: 285px;
  padding: 20px;
}

.shop-feature .container .productDesc {
  height: 285px;
  padding: 20px;
}

.shop-feature .featureText {
  color: #707070;
}

/*************
reserve
*************/
.reserve {
  background-color: #DEDCD4;
  color: #745A4C;
  padding: 80px 20px 50px;
}

.shopAddress .reserve-lg {
  text-align: center;
}

.shopAddress .reserve-lg p {
  font-weight: bolder;
  font-size: 18px;
  padding: 5px 0;
}

.shopAddress img {
  width: 300px;
}

.shopAddress .shopAddress-if {
  padding: 10px 0 50px;
}
.shopAddress-if {
  width: 350px;
  margin: 0 auto;
}

.shopAddress .reserveTel {
  text-align: center;
  max-width: 100%;
}

.shopAddress .reserveNote {
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}

.shopAddress .telBtn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #f4f4f4;
  color: #745A4C;
  font-weight: bold;
  text-align: center;
}

/*************
/* フッター
*************/
#footer {
  background-color: #745A4C;
  color: #fff;
  padding: 50px 20px;
}

.ftInner {
  text-align: center;
}

.ft-navi {
  display: flex;
  flex-wrap: wrap;
}

.ft-navi li {
  margin: 20px;
}

.shop-sns {
  margin: 20px 0 100px;
}

.shop-sns a {
  background-color: #fff;
  color: #745A4C;
  margin: 5px;
  padding: 5px 9px;
  border-radius: 50%;
}

.copy {
  font-size: 15px;
  font-weight: light;
}

/* レスポンシブ
------------------------------------------------------------*/

/*************
/* PCコンテナ
*************/
.infoInner, .photoGallery, .container, .shopAddress, .ftInner {
  max-width: 1130px;
  margin: 0 auto;
}

.photoGallery {
  margin: 50px auto;
}

/*************
/* タブレットコンテナ
*************/

@media (min-width: 550px) {
  .featureText {
    width:  500px;
    margin: 0 auto;
  }
}

/*************
/* PCコンテナ(大)
*************/

@media (min-width: 700px){
  .photos img {
    max-width: 260px;
    max-height: 260px;
  }

  .productSection {
    display: flex;
    padding: 10px 0;
  }

  .productSection:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .shop-feature h3 {
    margin-top: 7%;
    text-align: left;
    padding: 0 0 10px;
  }

  .productImg {
    padding: 0;
  }
  
  .featureText {
    width: 100%;
  }

  .num2 {
    margin-left: 0;
    margin-right: 5%;
  }
  
  .br-sp {
    display: none;
  }
  
  .ft-navi {
    justify-content: center;
  }
}


@media (min-width: 1100px) {
  .shopAddress {
    display: flex;
  }

  .shop-feature h2:before, .shop-feature h2:after {
    border-top: 1px solid #745A4C;
    content: "";
    width:25%;
  }
  
  .shop-feature h2:before {
    margin-right: 3%;
  }
  
  .shop-feature h2:after {
    margin-left: 3%;
  }
  
  .shop-feature h3 {
    margin-top: 10%;
  }
}

